.navigation {
  display: flex;
  gap: 1rem;
  background-color: #283618;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  align-items: center;
}

.links {
  display: flex;
  margin-top: 0.6rem;
  gap: 0.5rem;
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fefae0;
  font-size: 20px;
}

.logo {
  margin: 1rem 0 1rem 1rem;
}

.action {
  display: flex;
  margin-left: auto;
  padding-right: 1rem;
}
